<!DOCTYPE html>
<html>
	<head>
		<title>Flapper News</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<style>
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}

			.glyphicon-thumbs-up { cursor:pointer; }

		</style>
  	</head>
  	<body ng-cloak ng-app="flapperNews">
  		<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
  			<ul class="nav navbar-nav">
  				<li ng-show="isLoggedIn()">
  					<a>{{currentUser()}}</a>
  				</li>
  				<li ng-show="isLoggedIn()">
  					<a href="" ng-click="logOut()">Log Out</a>
  				</li>
  				<li ng-hide="isLoggedIn()">
  					<a href="/#/login">Log In</a>
  				</li>
  				<li ng-hide="isLoggedIn()">
  					<a href="/#/register">Register</a>
  				</li>
  			</ul>
  		</nav>
  		<div class="container">
  			<div class="row">
  				<div class="col-md-6 col-md-offset-3">
  					<ui-view></ui-view>
  				</div>
  			</div>
  		</div>



	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/app/Shared/Services.js"></script>
	<script src="/javascripts/app/Shared/Routes.js"></script>
	<script src="/javascripts/app/Navigation/NavController.js"></script>
	<script src="/javascripts/app/Authentication/AuthController.js"></script>
	<script src="/javascripts/app/Home/HomeController.js"></script>
	<script src="/javascripts/app/Posts/PostsController.js"></script>
	<script src="/javascripts/app/angularApp.js"></script>
  	</body>
</html>
