<!DOCTYPE html>
<html>
	<head>
		<title>Flapper News</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<style>
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}

		</style>
  	</head>
  	<body ng-app="flapperNews" ng-controller="MainCtrl">
  		<div ng-repeat="post in posts">
  			{{post.title}} - upvotes: {{post.upvotes}}
  		</div>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/angularApp.js"></script>
  	</body>
</html>
